<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container-fluid px-4">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4 text-center text-md-start mb-2 mb-md-0">
        <span class="text-dark fw-bold">🐾 PetClinic System</span>
        <span class="text-muted d-block small">Application de gestion vétérinaire</span>
      </div>

      <div class="col-md-4 text-center mb-2 mb-md-0">
        <button class="badge bg-primary text-white me-1" (click)="getCliniques()">Cliniques</button>
        <button class="badge bg-success text-white me-1" (click)="getMedecins()">Médecins</button>
        <button class="badge bg-info text-dark me-1" (click)="getClients()">Clients</button>
        <button class="badge bg-info text-dark me-1" (click)="getAnimaux()">Animaux</button>
        <button class="badge bg-warning text-dark" (click)="getRendezVous()">Rendez-vous</button>
      </div>
      w
      <div class="col-md-4 text-center text-md-end">
        <span class="text-muted small">&copy; 2026 Sonatel / JHipster 9</span>
      </div>
    </div>
  </div>
</footer>
